<h1 class="mt-4"><%= @place["name"] %></h1>

<h2 class="mt-4">My Entries</h2>
<div class="container">
<div class="row">
<% for entry in @entries %>
<div class="col-md-4 pt-3">
  <h3><%= entry["title"] %></h3>
  <h4 class="mt-4"><%= entry["occurred_on"] %></h4>
  <p class="mt-4"><%= entry["description"] %></p>
  <% if entry.uploaded_image.attached? %>
  <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
<% else %>
  <img src="<%= entry["image"] %>" class="img-fluid">
<% end %>
  </div>
<% end %>
</div>




<p>
<%if @user !=nil%>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-secondary" role="button">New Entry</a>
  <% end %>
</p>

<p>

  <a href="/places" class="btn btn-secondary" role="button">Back to All Places</a>
 
</p>